* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #f6f8fc0c;
}
.content{
    background-color: #fff;
    padding:1rem;
    z-index: 1;
    border-radius: 1rem;
    height: 100vh;
}

ol.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:1rem;
    padding:1rem;
}
/*ol.pokemons li{
    background-color:#14A06F ;
    margin: .5rem;
    padding:1rem;
    border-radius:1rem;
   
}*/
ol .pokemons li img{
    max-width:100%;
    height:100px;
}
.details img{
    display: flex;
    flex-direction: row;
}
/*responsividade*/
@media screen and (max-width:998px) {
    .content{
        max-width: 768px;
        margin: 0 auto;
    }
}
@media screen and (max-width:998px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:576px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
