

/*tipos e detalhes de pokemons*/
.dark{
    background-color: rgb(71, 6, 71);
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    height: 400px;
    width: 400px;
}
    

.eletric{
    background-color: rgb(228, 228, 21);
    margin:.5rem;
    padding:1rem;
    border-radius: 1rem;
    height: 400px;
    width: 400px;
}
.fire{
    background-color: rgb(253, 169, 11);
    margin:.5rem;
    padding:1rem;
    border-radius: 1rem;
    height: 400px;
    width: 400px;
    
}
.grass{
    background-color:#14A06F;
    margin:.5rem;
    padding:1rem;
    border-radius: 1rem;
    height: 400px;
    width: 400px;
}
.pokemon{
    max-width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.number{
    height: 100px;
    max-width: 100%;
    color: white;
}
.number{
    position: relative;
    top:2px;
    bottom: 900px;
    left:160px;
    right:600px;
    
}
.name{
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
}
.type{
  
    color:white;
    display: flex;
    flex-direction: column;

}
