.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

ol.pokemons div li{
    list-style: none;
}
/*ol.pokemons li{
    background-color: #14A06F;
    margin:0.5rem;
    padding: 1rem;
    border-radius: 1rem;
}*/
.dark{
    background-color: purple;
    margin:0.5rem;
    padding:1rem;
    border-radius: 1rem;
    height: 400px;
    max-width: 100%;
}
.eletric{
    background-color: yellow;
    margin:0.5rem;
    padding:1rem;
    border-radius: 1rem;
}
.fire{
    background-color: red;
    margin:0.5rem;
    padding:1rem;
    border-radius: 1rem;
}
.grass{
    background-color: green;
    margin:0.5rem;
    padding:1rem;
    border-radius: 1rem;
}
.pokemon{
    max-width: 100%;
    height: 200px;
    display: inline-block;
    display: flex;
    flex-direction: column;
}
.number{
    height: 100px;
    max-width: 100%;
    color: white;
}
.number{
    position: relative;
    top:20px;
    bottom: 1000px;
    left:800px;
    right:20px;
    
}
.name{
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
}
.type{
    text-transform: uppercase;
    color:white;
    display: flex;
    flex-direction: column;
}